.box-faq {
  margin-top: 72px;
  background: #ffffff;
  height: 543px;
  padding: 65px 0 91px;
}

.box-faq .title {
  font-size: 32px;
  color: #262c7c;
  margin-bottom: 76px;
}

.grid-faq {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-faq .nav .nav-link {
  width: 100%;
  height: 44px;
  font-size: 14px;
  margin-bottom: 12px;
  outline: 1px solid #9195cb;
  color: #6468a1;
  text-align: left;
}

.grid-faq .nav .active {
  color: #262c7c;
  font-weight: bold;
  background: transparent;
  outline: 2px solid #262c7c;
  font-size: 15px;
}

.grid-faq .tab-content .tab-pane .item-content {
  margin: 5px 0;
  position: relative;
  font-size: 16px;
}

.grid-faq .tab-content .tab-pane .item-content .item-title {
  padding-right: 20px;
  height: 55px;
  border-bottom: 1px solid #262c7c;
  line-height: 44px;
  padding-bottom: 8px;
  color: #262c7c;
  font-weight: bold;
}

.grid-faq .tab-content .tab-pane .item-content .icon {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #262c7c;
  cursor: pointer;
}

.grid-faq .tab-content .tab-pane .item-content .item-msg {
  margin: 10px 0;
  border-bottom: 1px solid #6468a1;
  padding-bottom: 8px;
  font-weight: normal;
  color: #6468a1;
}

/* responsive */
@media (max-width: 575.98px) {
  .grid-faq .tab-content .tab-pane .item-content .item-title,
  .grid-faq .nav .nav-link,
  .grid-faq .tab-content .tab-pane .item-content .item-msg {
    font-size: 14px;
    height: 100%;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
  .box-faq {
    height: 100%;
  }
  .grid-faq .nav {
    grid-column: 1 / span 3;
  }
  .grid-faq .tab-content {
    grid-column: 1 / span 3;
  }
}

@media (max-width: 1199.98px) {
  .grid-faq .nav .nav-link {
    height: 55px;
  }
  /* .grid-faq .tab-content .tab-pane .item-content .item-title {
    height: 55px;
  } */
}

@media (max-width: 1399.98px) {
}
